.frmwrk-textfield {
	display: flex;

	gap: var(--base-gap);
	align-items: center;

	font-size: var(--base-font-size);
	line-height: var(--base-line-height);
}

.frmwrk-textfield input {
	min-height: calc(var(--base-min-element-height) * 2);
	padding: calc(var(--base-min-element-height) / 2);
	width: max-content;
	box-shadow: var(--base-box-shadow);
	border: var(--base-border);
	width: 150px;
}

.frmwrk-textfield local:focus {
	outline: var(--attention) solid 1px;
}
