.frmwrk-button {
  width: max-content;
  min-height: calc(var(--fc-base-min-element-height) * 2);
  padding: calc(var(--fc-base-min-element-height) / 2) calc(var(--fc-base-min-element-height) * 2);

  font-size: var(--fc-base-font-size);
  line-height: var(--fc-base-line-height);

  background: var(--fc-white);
  border: var(--fc-base-border);
  box-shadow: var(--fc-base-box-shadow);
}

.frmwrk-button:hover,
.frmwrk-button:active {
  background: var(--fc-light-gray);
}

.frmwrk-button:active {
  outline: var(--fc-attention) solid 1px;
}
