.frmwrk-radio {
	display: flex;

	gap: var(--base-gap);
	align-items: center;

	min-height: calc(var(--base-min-element-height) * 2);
	padding: calc(var(--base-min-element-height) / 2 + 1px) calc(var(--base-min-element-height) / 2 + 1px);

	font-size: var(--base-font-size);
	line-height: var(--base-line-height);
}

.frmwrk-radio input[type="radio"] {
	position: relative;
	box-sizing: border-box;
	appearance: none;
	background: white;
	outline: none;
	background: var(--white);
	border: var(--base-border);
	box-shadow: var(--base-box-shadow);
	min-height: calc(var(--base-min-element-height));

	width: calc(var(--base-min-element-height) * 2);
	height: calc(var(--base-min-element-height) * 2);
	border-radius: 50%;

	padding: 0px;
	margin: 0px;

	place-content: center;
}

.frmwrk-radio input[type="radio"]:after {
	position: absolute;
	transform: scale(0);
}

.frmwrk-radio input[type="radio"]:checked:after {
	position: absolute;
	content: " ";
	width: calc(var(--base-min-element-height));
	height: calc(var(--base-min-element-height));
	transform: scale(1);
	background-image: url(../../images/check.svg);
	background-repeat: no-repeat;
	background-size: var(--base-min-element-height);
	margin: calc(calc(var(--base-min-element-height) / 2) - 1px);
	top: 0px;
	left: 0px;
}

.frmwrk-radio input[type="radio"]:focus {
	outline: var(--attention) solid 1px;
}

.frmwrk-radio input[type="radio"]:checked:before {
}

.frmwrk-radio label {
}

.frmwrk-radio input[type="radio"]:checked + label {
}
