.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.frmwrk-modal {
  width: 100vw;
  height: 100vh;
}

.frmwrk-modal.modal-overlay {
  width: 100vw;
  height: 100vh;

  top: 0px;
  left: 0px;

  position: fixed;
  z-index: 10;

  align-items: center;
  justify-content: center;
  display: block;

  overflow: auto;

  background-color: #f0f8ff6e;
}

.frmwrk-modal.modal-overlay .modal-dropzone {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
}

.frmwrk-modal.modal-overlay .modal-dropzone .modal-movable {
  position: absolute;
  width: 30%;

  top: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
}

.frmwrk-modal.modal-overlay .modal-dropzone .modal-movable .modal-header {
  min-height: 20px;
  background: transparent;
}

.frmwrk-modal.modal-overlay .modal-dropzone .modal-movable .modal-header .titlebar {
  min-height: calc(var(--fc-base-min-element-height) * 2);

  font-size: var(--fc-base-font-size);
  line-height: var(--fc-base-line-height);

  display: flex;
  flex-flow: row;
  width: max-content;

  border-top: var(--fc-base-border);
  border-left: var(--fc-base-border);
  border-right: var(--fc-base-border);

  background-color: var(--fc-white);
}

.frmwrk-modal.modal-overlay .modal-dropzone .modal-movable .modal-header .titlebar p.title {
  font-weight: bold;
  position: relative;
  margin: 0px;
}

.frmwrk-modal.modal-overlay .modal-dropzone .modal-movable .modal-header .titlebar .modal-close {
  cursor: pointer;
}

.frmwrk-modal.modal-overlay .modal-dropzone .modal-movable .modal-content {
  background-color: var(--fc-white);
  /*box-shadow: var(--fc-base-box-shadow);*/
  border-top: var(--fc-base-border);
  border-left: var(--fc-base-border);
  border-right: var(--fc-base-border);

  padding: calc(var(--fc-base-min-element-height) / 2 + 1px) calc(var(--fc-base-min-element-height) / 2 + 1px);
}

.frmwrk-modal.modal-overlay .modal-dropzone .modal-movable .modal-footer {
  background-color: var(--fc-white);

  border-top: var(--fc-base-border);
  border-bottom: var(--fc-base-border);
  border-left: var(--fc-base-border);
  border-right: var(--fc-base-border);

  padding: calc(var(--fc-base-min-element-height) / 2 + 1px) calc(var(--fc-base-min-element-height) / 2 + 1px);
}

.blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}
/*
.blur:not(.frmwrk-modal) {
  filter: blur(0px);
}
*/
