.frmwrk-dropdown {
	display: flex;
	flex-flow: row;

	margin-bottom: 0px;
	gap: var(--fc-base-gap);
	align-items: top;

	font-size: var(--fc-base-font-size);
	line-height: var(--fc-base-line-height);
	position: relative;
	width: max-content;
}

.frmwrk-dropdown .dropdown {
	display: flex;
	flex-flow: column;
	align-items: left;
}

.frmwrk-dropdown .dropdown:before {
	content: " ";
	position: absolute;

	width: calc(var(--fc-base-min-element-height) * 2);
	height: calc(var(--fc-base-min-element-height) * 2);

	transform: scale(1);
	background-image: url(../../images/down.svg);
	background-repeat: no-repeat;
	background-position: 1px;

	background-size: var(--fc-base-min-element-height);

	padding: 0px;
	margin: calc(calc(var(--fc-base-min-element-height) / 2) - 1px);
	background-position-x: left;
	background-position-y: top;
	cursor: pointer;
	top: var(--fc-base-min-element-height);

	left: 130px;
	pointer-events: none;
}

.frmwrk-dropdown .dropdown input {
	min-height: calc(var(--fc-base-min-element-height) * 2);
	padding: calc(var(--fc-base-min-element-height) / 2) calc(var(--fc-base-min-element-height) * 2);
	width: max-content;
	box-shadow: var(--fc-base-box-shadow);
	border: var(--fc-base-border);
	width: 150px;
}

.frmwrk-dropdown .dropdown input:focus {
	outline: var(--fc-attention) solid 1px;
}

.frmwrk-dropdown.is-visible ul {
	position: absolute;
	z-index: 3;
	width: max-content;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: var(--fc-white);
	border: var(--fc-base-border);
	display: block;
	box-shadow: var(--fc-base-box-shadow);
}

.frmwrk-dropdown.is-visible ul li {
	cursor: pointer;
	margin: 0px;
	padding: calc(var(--fc-base-min-element-height) / 2) calc(var(--fc-base-min-element-height) * 2);
}

.frmwrk-dropdown.is-visible ul li:hover {
	background-color: var(--fc-lighter-gray);
}

.frmwrk-dropdown ul {
	display: none;
}

.frmwrk-dropdown label {
	padding-top: 5px;
}
