:root {
  --fc-white: #ffffff;
  --fc-black: #000000;

  --fc-track-gray: #f9f9f9;
  --fc-lighter-gray: #f1f1f1;
  --fc-light-gray: #ececec;
  --fc-dark-gray: #adadad;
  --fc-darker-gray: #aaaaaa;
  --fc-inset-gray: #878787;
  --fc-gradient-gray: #d8d8d8;

  --fc-border-gray: #6a6a6a;

  --fc-attention: #2196f3;

  --fc-success: #2a7e2e;
  --fc-wait: #fff8dd;
  --fc-warning: #9d2727;
  --fc-error: #d92525;

  --fc-base-gap: 0.5em;
  --fc-base-border: 1px solid var(--fc-border-gray);
  --fc-base-box-shadow: 0px 0px 2px 0px var(--fc-dark-gray);

  --fc-base-gradient: linear-gradient(0deg, var(--fc-gradient-gray) 0%, var(--fc-light-gray) 100%);
  --fc-base-gradient-inverted: linear-gradient(180deg, var(--fc-gradient-gray) 0%, var(--fc-light-gray) 100%);

  --fc-base-min-element-height: 8px;
  --fc-base-line-height: calc(var(--fc-base-min-element-height) * 2 + 2px);

  --fc-base-font-size: 14px;
}

.frmwrk-component {
  background-color: var(--fc-inset-gray);
}
